.container {
  margin: 0 auto;
  padding: 0 1rem;
}

.row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 600px;
  }
}
