
/*     Header      */

header {
  background-color: black;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin-right: 2rem;
}

.logo {
  width: 8rem;
}

.logo img {
  width: 100%;
}


/*    Search Row     */

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.space-between {
  justify-content: center;
}

.row-height {
  height: 8rem;
  margin: 2rem 0;
}

.or {
  text-align: center;
  margin: 0;
}

.browse {
  height: 2rem;
  width: 75%;
  margin-right: 1rem;
}

.submit-button {
  background-color: black;
  color: white;
  width: 22%;
  font-weight: 500;
}


/*      Team Info      */

.team-row-1 {
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
}

.bold {
  font-weight: bold;
}

.team-info p {
  font-size: 0.9rem;
  margin: 0.2rem 0 0.2rem 1rem;
}

h3 , .player-info,
.player-name  {
  text-align: center;
  margin: 0.4rem 0;
}

.roster-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0.5rem auto;
}

tbody tr:nth-child(odd) {
  background-color: #eeeeee;
}

tr {
  text-align: left;
}

tr :nth-child(1) {
  text-align: center;
  width: 20%;
}

.hidden {
  display: none;
}
