
header {
  background-color: black;
  align-items: center;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin-right: 2rem;
  text-align: right;
}

.logo {
  width: 14rem;
  cursor: pointer;
}

.logo img {
  width: 100%;
}


.bold {
  font-weight: bold;
}

 input[type=search] {
    -webkit-appearance: textfield;
}​​​;

.team-info p {
  font-size: 0.9rem;
  margin: 0.2rem 0 0.2rem 1rem;
  text-align: center;
}

h3 , .player-info,
.player-name  {
  text-align: center;
  margin: 0.4rem 0;
}

.roster-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0.5rem auto;
}

.center-table {
  margin: auto;
}

tbody tr:nth-child(odd) {
  background-color: #eeeeee;
}

tr {
  text-align: left;
  cursor: pointer;
}

tr :nth-child(1) {
  text-align: center;
  width: 20%;
}

.suggestions div {
  padding: 0.3rem 1rem;
  background-color: #eeeeee;
  border-top: 1px solid #ffffff;
  border-radius: 0.2rem;
}

.suggestions div:hover {
  background-color: #ffffff;
}

.player-row:hover {
  color: blue;
}

.stats-row {
  text-align: center;
}

.stats-row td {
  padding: 0.5rem 1rem;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.search > div {
  width: 100%;
  max-width: 600px;
}

.view {
  margin-top: 2.5rem;
}

.team-form ,
.player-form,
.search-space {
  justify-content: space-around;
}

.team-form {
  height: 30px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-star {
  cursor: pointer;
}

.far {
  color: #DEDEDE;
}

.fas {
  color: gold;
}

.btn-fav {
  background-color: silver;
}

.btn:active,
.btn:focus:active {
  color: black;
  background-color: white;
  border-color: black;
}

.btn-fav-div {
  display: flex;
  justify-content: center;
}

.btn-dark {
  font-size: 70%;
}

.btn {
  min-width: 70px;;
}


h5 {
  text-align: center;
}

.player-search{
  padding-left: 0.2rem;
}

.hidden {
  display: none;
}
