
/*     Header      */

header {
  background-color: black;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin-right: 2rem;
}

.logo {
  width: 8rem;
}

.logo img {
  width: 100%;
}


/*    Search Row     */

.search-row {
  height: 8rem;
  margin-top: 1.5rem;
}

select, input {
  height: 2.5rem;
  font-size: 1.3rem;
}
